name: Deploy to Hugging Face Space

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Sync to Hugging Face Space
        uses: huggingface/space-ci@v1
        with:
          repo-token: ${{ secrets.HF_TOKEN }}
          repo-id: hena00/parkinsons-detection
