
name: Deploy to Hugging Face

on:
  push:
    branches:
      - main  # or the branch you want to deploy from

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Deploy to Hugging Face Space
        uses: huggingface/spaces-deploy@main
        with:
          space: hena00/parkinsons-detection  # replace with your HF space name
          token: ${{ secrets.HF_TOKEN }}
